<div class="container">
  <div class="row">
    <div class="col-sm">
      <p>
        article-page works! display list of articles and thread preview toggle new article form hide or display article
      </p>

      <a [routerLink]="['./create']">Create article</a>
      <a [routerLink]="['./preview']">Preview thread</a>

      <app-article-view></app-article-view>

      <!-- <button type="button" class="btn btn-primary"
        [(ngModel)]="singleModel" btnCheckbox
        btnCheckboxTrue="1" btnCheckboxFalse="0">
  Single Toggle
</button> -->
    </div>
    <div class="col-sm">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>